#ifndef Variables_h
#define Variables_h

bool IS_DEBUG_MODE = false;
char ssid[] = "SSID";
char password[] = "PASSWORD";

String FBaccessToken = "FB_ACCESS_TOKEN";
String FBpageId = "FB_PAGE_ID";

String YtaccessToken = "YT_ACCESS_TOKEN";
String YTpageId = "YT_PAGE_ID";

#endif
